recursive-include quantlab/build *
recursive-include quantlab/schemas *
recursive-include quantlab/themes *

include package.json
include LICENSE
include CONTRIBUTING.md
include README.md
include package.json
include setupbase.py

include quantlab/package.app.json
include quantlab/webpack.config.js
include quantlab/index.app.js
include quantlab/node-version-check.js
include quantlab/released_packages.txt

prune quantlab/tests
